Hallo {{ name }},

Du hast anscheinend dein Passwort vergessen...

Falls du dein Passwort zurücksetzen möchtest, klicke auf den folgenden Link:
{{ reset_link }}

Falls du dein Passwort nicht zurücksetzen möchtest, ignoriere diese Email einfach.

Mit freundlichen Grüßen,
Dein Freestyle Cup NRW Team

P.S.: Bitte nicht auf diese Mail antworten - das Postfach wird nicht gelesen.