Hallo {{ name }},

Willkommen im Frewestyle Cup NRW Anmeldesystem.

Um mit der Anmeldung zu beginnen, bestätige deine Email Adresse über diesen Link: {{ verify_link }}

Mit freundlichen Grüßen,
Dein Freestyle Cup NRW Team

P.S.: Bitte nicht auf diese Mail antworten - das Postfach wird nicht gelesen.